<mat-toolbar class="upper-toolbar">

</mat-toolbar>

<mat-toolbar class="lower-toolbar">
  <div style="cursor: pointer" (click)="onHomeClick()">
    H-Label
  </div>
  <div class="buttons-div">
    <div>
      <button mat-button class="toolbar-button" >
        Antioxidant complex
      </button>
      <button mat-button class="toolbar-button" >
        Vitamine E
      </button>
      <button mat-button class="toolbar-button" >
        Dier en gezondheid
      </button>
      <button mat-button class="toolbar-button" (click)="onAboutUsClick()">
        Over ons
      </button>
      <button mat-button class="toolbar-button">
        Klantenservice
      </button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
